.divi1{
    margin: 20px;
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
    width: 1800px;
    }
.divi2{
margin: 20px;
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
    width: 1800px;
}
.divi3{
    margin: 20px;
        border: 2px solid #000000;
        padding: 10px;
        text-align: center;
        width: 1800px;
    }