.div11{
    margin: 20px;
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
    width: 1800px;
    }
.div22{
margin: 20px;
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
    width: 1800px;
}
.div33{
    margin: 20px;
        border: 2px solid #000000;
        padding: 10px;
        text-align: center;
        width: 1800px;
    }